.vscode/*

log/*
!log/.gitkeep

**/__pycache__/*

notebooks/*

config/*
!config/dev.cfg

data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

images/raw/*
!images/raw/.gitkeep

images/processed/*
!images/processed/.gitkeep